* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  background-color: whitesmoke;
  border-radius: 0.5em;
  padding: 1rem 0;
}

.head-words {
  margin-right: 4rem;
}

.head-words:first-child {
  margin-right:auto;
  margin-left: 2rem;
  color: blue;
}


body {
  background-image: url("../images/friends_forever.jpg");
  background-position: top center;
  font-family: Nunito, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
  margin: 200px 150px 200px;
}

.intro {
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  list-style: decimal;
  display: block;
}

.des-content {
  margin: 1rem 0 0;
  font-size: 18px;
  letter-spacing: 2px;
  color: #424141;
}

.connect {
  margin: 2rem 0 0 0;
  color: blue;
  font-size: 15px;
  display: block;
}

.row {
  display: block;
  margin: 15px auto;
}

.social {
  margin: 0 20px 0 0;
  object-fit: contain;
  aspect-ratio: 3/2;
}
